$yellow: #fff200;
$brown: #512c1d;
$widescreen: 1000px;
$desktop: 800px;
$fullhd: 1150px;

// Bulma
@import "~bulma/sass/utilities/_all.sass";
@import "~bulma/sass/base/_all.sass";
@import '~bulma';

.parallax {
  /* Set a specific height */
  height: 500px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  background-color: $warning !important;
  padding: 4rem 1.5rem 4rem;
}

.footer-copyright {
  background-color: $brown !important;
  padding: 1.5rem 1.5rem 1rem;
}

.has-text-brown {
  color: $brown !important;
}

.logo-brand {
  max-height: 160px;
}
.social{
  padding-top: 5px;
}
.logo-footer {
  max-width: 150px;
}

.fullwidth {
  width: 100%;
}

.fondo {
  background-image: url(/images/fondo.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: bottom right;
}

.section {
  margin-bottom: -1px !important;
}

.footer .image {
  margin-bottom: 0;
}

@font-face {
  font-family: 'Biko';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('/fonts/biko_regular.ttf') format('truetype');
}

.navbar, .title, .subtitle, a {
  font-family: 'Biko' !important;
}

@font-face {
  font-family: 'Futura';
  /* Antes de descargar el archivo, le decimos al buscador
  que intente buscar en local la fuente con nombre
  Cabin, Cabin Regular o Cabin-Regular */
  src: url('/fonts/Futura_Medium.ttf') format('truetype');
}

.futura{
  font-family: 'Futura' !important;
}
.social {
  width:64px;
  position:fixed;
  z-index:900;
  top:50%;
  right:-2px;
}
